:root {
  --speed : 14s; 
}

.main-navigation {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

 /*** SECTION FADE-IN HEADER ***/

 .container-video {
    position:absolute; 
  }

  #background-video {
    object-fit: cover;
    @media (max-width: 768px) {
      display:none;
    }
  }

  /*** IMAGE LOGO ***/
  
  .banner img {
    top: 100px;
    position: sticky;
    animation: fade-In-From-Bottom 2s 300ms, floating-animation 6s 2s infinite ease-in-out;

 }

/***Keyframes montant de bas en haut ***/
 @keyframes fade-In-From-Bottom { /* ANIMATION ENTRANTE VERS LE BAS*/
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-from-top {/*Animation vers haut*/
  from {
    opacity:0;
    transform: translateY(-500px)
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}

/*** KEYFRAMES DE FLOTTEMENT **/

@keyframes floating-animation {
  10%{
    transform:translate3d(0, 5px, 0);
  }
  30%{
    transform: translate3d(0, -10px, 0);
  }
  43%{
    transform: translate3d(8px, 0,0);
  }
  50%{
    transform: translate3d(-2px, -6px, O);
  }
  60% {
    transform: translate3d(4px, -2px, 0);
  }
  72%{
    transform: translate3d(-8px, 6px, 0);
  }
  85%{
    transform: translate3d(-2px, 3px, 0);
  }
}

 /*** SECTION STORY + TITRE  ***/
 
.story{
  animation: fade-In-From-Bottom 1s ease-in-out;
}
 
.story h2 {
   background-image: url('../../../foce/assets/images/purple_title_bg.png');
   animation: fadeUp_purple_background 1s;
 }

span.title {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s, opacity 0.5s;
 }

.title-animation:nth-child(1) {
  animation: fade-In-From-Bottom 0.6s ease-in-out forwards;
}

 
 .title-animation:nth-child(2) {
  animation: fade-In-From-Bottom 0.8s ease-in-out forwards;
  animation-delay: 0.3s; /* Décalage pour le deuxième élément "histoire" */
}

@keyframes title-animation {
  100%{
    transform: translateY(0%);
  }
}


 .story__article {
  p {
    position: relative; 
    animation: p-sections-fade-in 1.5s 0.5s forwards;
  }
 }

 @keyframes fadeUp_purple_background { /*ANIMATION BACKGROUND VIOLET*/
  from{
      background-position : 0 300px;
  opacity: 0;
  }
  to{
      background-position: 0 0;
  opacity: 1;
  }
}

/****KEYFRAMES PARAGRAPHES ***/
 
@keyframes p-sections-fade-in {
  0% {
    opacity : 0;
    transform : translateY(-150px)
  }
  50%{
    opacity:1; 
  }
  100%{
    transform: translate(0px); 
  }
 }
 
 
 /*** ROTATION FLEURS ***/

 .story h2::after,
 .story__article::after,
 #studio h2::after,
 #studio h2::before,
 .site-footer::before,
 .site-footer::after,
 .site-footer ul::after  {
   animation: rotationFleurs var(--speed) linear infinite;
 }

.story h2::after,
.site-footer::before {
  transform-origin: 77px 77px;
 }

 #studio h2::before {
  transform-origin: 101px 100px;
 }

 #studio h2::after {
  width: 109px;
  height: 109px;
 }

 #studio h2 {
  overflow: visible;
 }

 .site-footer::after{
  transform-origin: 86px 86px;
 }

 
/**KEYFRAMES ROTATION FLEURS **/

 @keyframes rotationFleurs {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
 
 /*** SECTION STUDIO KOUKAKI ***/
 
 #story,
 #studio,
 footer {
    opacity:0; 
    animation: fade-In-From-Bottom 1.5s 0.5s forwards;
 }

 .studio_paragraphe {
    animation: p-sections-fade-in 1.5s 0.5s forwards;
 }

 /*** LE LIEU ***/
 
 .story #place {
  background-image: url('../images/place_background.png');
   background-repeat: no-repeat;
   animation: fadeUp_purple_background 2s;
 }
 
 #place h3 {
   background-image: url('../foce/assets/images/orange_place_bg.png');
   /*animation: fadeUp_purple_background 2s;*/
 }
 
 .place_background p {
  position: relative; 
  animation: p-sections-fade-in 1.5s 0.5s forwards;
 }


 /*** NUAGES ***/

 .big_cloud {
  position: absolute;
  top: 69%;
  display: block;
  left: calc(52% + 210px);
  filter: drop-shadow(0px 0px 20px #C0F7FF);
  transform: translateX(var(--cloudPositionX));
}

.little_cloud {
  position: absolute;
  top: 77%;
  right: calc(15% + 320px);
  filter: drop-shadow(0px 0px 20px #C0F7FF);
  transform: translateX(var(--cloudPositionX));
}

#place .big_cloud,
#place .little_cloud {
  position: absolute;
  -moz-filter: blur(12px);
  filter: blur(12px);
  z-index: 2;
}

/*** section nomination**/

.section-nomination {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.nomination_text {
  background-image: url('../images/orange_oscar_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height:250px;
  padding: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #fff5e9;
  font-size: 40px;
  letter-spacing: -1px;
  margin-bottom: 8em;
  text-shadow: grey 1px 0 10px;
}

.nomination_img{
  max-width: 275px;
}

 /**** FOOTER ****/

 .site-footer {
  flex-direction: column;
  padding-top: 12em;
}

.site-footer::after {
  bottom: 42em;
}

.site-footer::before {
  top: 4em;
}


/*** SWIPER ***/

.swiper {
  margin: 0 auto;
  width: 1226px;
}

.characters-swiper {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  h3 {
    align-self: flex-start;
    z-index: 2;
    background-image: url('../images/orange_characters_bg.png');
  }
}

.characters-swiper div{
  flex: 1; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-3d {
  perspective: none;
}
/*
.swiper-slide {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.swiper-slide-image {
  width: 100%;
}
.swiper-pagination {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
*/


/**** MENU BURGER ***/ 

/* Styles pour le menu burger */

.main-navigation {
  height: 80px;
  display: flex;
  position:relative;

  ul {
      font-weight: 800;
      display: flex;
      flex-direction: row;
      margin-left: 580px;
  }

  button {
      margin-left: 400px;
  }
}

.burgerBtn {
  width: 42px;
  height: 24px;
  margin-right: 40px;
  cursor: pointer;
  position: relative;

  span {
      width: 100%;
      height: 4px;
      background-color: #000;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.5s ease-in-out;

      &::before,
      &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: #000;
          transition: transform 0.5s ease-in-out;
      }

      &::before {
          transform: translateY(-10px);
      }

      &::after {
          transform: translateY(10px);
      }
  }

  &.active span {
      background-color: transparent !important;

      &::before {
          transform: translateY(0px) rotateZ(45deg);
      }

      &::after {
          transform: translateY(0px) rotateZ(-45deg);
      }
  }
}


/* Styles pour le menu en plein écran */

.site-navigation .title-site {
  position: fixed;
}

.fullscreenMenu li {
  line-height: 90px;
}

.fullscreenMenu p {
  margin-top: 70px!important;
}


.fullscreenMenu {
  position: fixed;
  top: 80px;
  width: 1440px;
  height: 1024px;
  background-color: #FFF5E9;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in;

  &.open {
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      animation: menuFadein 1s ease-in-out;

      @keyframes menuFadein {
          0% {
              opacity: 0;
          }

          100% {
              opacity: 1;
          }
      }
  }

  img {
      margin: auto;
      display: flex;
  }

  ul {
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 190px;
  }

  li {
      font-weight: 500;
      font-size: 40px;
      line-height: 100px;
      list-style-type: none;
      margin: 0;
  }

  a:hover {
      color: black;
      text-shadow: -1px -1px 3px #ff5c0080, 3px -1px 3px rgba(255, 92, 0, 0.3), -1px 3px 3px rgba(255, 92, 0, 0.3), 3px 3px 3px rgba(255, 92, 0, 0.3);
  }

  p {
      text-align: center;
      margin-top: 150px;
      font-size: 20px;
  }

  a {
      text-decoration: none;
  }
}

  .logoFullscreen {
      position: absolute;
      left: 627px;
      top: 45px;
  }

  .orchidMenu {
      position: absolute;
      left: -60px;
      width: 150px;
      height: 148px;
      top: 70px;
      animation: rotationFleurs var(--speed) linear infinite;
  }

  .flowerOrangeMenu {
      position: absolute;
      left: 23%;
      bottom: 55%;
      animation: rotationFleurs var(--speed) linear infinite;
  }

  .flowerMenu {
      position: absolute;
      top: 435px;
      left: 289px;
      width: 70px;
      height: 70px;
  }

  .sunflowerMenu {
      position: absolute;
      top: 90px;
      left: 950px;
      animation: rotationFleurs var(--speed) linear infinite;
  }

  .randomflowerMenu {
    position: absolute;
    top: 15%;
    right: -3%;
    height: 75px;
    animation: rotationFleurs var(--speed) linear infinite;
  }

  .hibiscusMenu {
    animation: rotationFleurs var(--speed) linear infinite;
    width: 30%;
    height: 46%;
    position: absolute;
    bottom: 6%;
    left: 85%;
}

  .blueCatMenu {
    position: absolute;
    top: 20%;
    left: 29%;
    width: 109px;
    height: 98px;
    animation: rotationFleurs var(--speed) linear infinite;
    transform-origin: 50% 45%;
}

.orangeCatMenu {
  position: absolute;
  bottom: 37%;
  left: 101px;
  width: 105px;
  height: 95px;
  animation: floating-animation 6s 2s infinite ease-in-out;
}

  .blackCatMenu {
      position: absolute;
      top: 390px;
      left: 921px;
      width: 120px;
      animation: floating-animation 6s 2s infinite ease-in-out;
  }






/**** MEDIAQUERIES ****/

@media only screen and (max-width: 768px) {
  /* Styles pour les tablettes */

  .banner {
    height: 100%;
    width: 100%;
  }

  #background-video {
    display: none;
  }

  .orchidMenu,
  .flowerOrangeMenu,
  .flowerMenu,
  .sunflowerMenu,
  .randomflowerMenu,
  .hibiscusMenu,
  .blueCatMenu,
  .blackCatMenu {
    animation: none!important; 
  }

  .flowerOrangeMenu,
  .blueCatMenu,
  .hibiscusMenu {
    display: none!important;
  }

  .site-footer::after{
    animation: none !important;
    top: 9%;
    left: 89%;
  }

  #studio h2::before {
    animation: none !important;
    top: 97%;
    left: -14%;
  }
  
  .swiper {
    width: 50%;
  }

  .swiper-slide img {
    width: 260px;
  }

  .fullscreenMenu {
    top: 60px;
    width: 100%;
    height: 100%;
  }

  .logoFullscreen {
    transform: translateX(-180%);
  }

  .site-navigation .title-site {
    position: static;
  }

  .main-navigation ul {
    margin-left: 20px;
  }

  .main-navigation button {
    margin-left: 20px;
  }

  .characters-swiper {
    h3 {
      margin-left: 20px; /* Ajustez la marge pour s'adapter à l'écran plus petit */
    }
  }

  .big_cloud {
    top: 67%;
    left: calc(22% + 210px);
    transform: none;
  }

  .little_cloud {
    transform: none;
    top: 73%;
    right: calc(1% + 295px);
  }


  .section-nomination {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }

  .nomination_text {
    font-size: 22px;
    margin-bottom: 8em;
    padding-top: 10%;
    text-align: center;
  }


  .site-footer ul::after {
    animation: none;
  }

}

  

  


