:root {
  --speed : 10s; 
}

 /*** SECTION FADE-IN HEADER ***/

 .container-video {
    position:absolute; 
  }

  #background-video {
    object-fit: cover;
    @media (max-width: 599px) {
      display:none;
    }
  }

  /*** IMAGE LOGO ***/
  
  .banner img {
    top: 100px;
    position: sticky;
    animation: fade-In-From-Bottom 2s 300ms, floating-animation 6s 2s infinite ease-in-out;

 }

/***Keyframes montant de bas en haut ***/
 @keyframes fade-In-From-Bottom { /* ANIMATION ENTRANTE VERS LE BAS*/
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-from-top {/*Animation vers haut*/
  from {
    opacity:0;
    transform: translateY(-500px)
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}

/*** KEYFRAMES DE FLOTTEMENT **/

@keyframes floating-animation {
  10%{
    transform:translate3d(0, 5px, 0);
  }
  30%{
    transform: translate3d(0, -10px, 0);
  }
  43%{
    transform: translate3d(8px, 0,0);
  }
  50%{
    transform: translate3d(-2px, -6px, O);
  }
  60% {
    transform: translate3d(4px, -2px, 0);
  }
  72%{
    transform: translate3d(-8px, 6px, 0);
  }
  85%{
    transform: translate3d(-2px, 3px, 0);
  }
}

 /*** SECTION STORY + TITRE  ***/
 
 .story{
  animation: fade-In-From-Bottom 1s ease-in-out;
}



/*
.title-animation{
  animation: anim-title 1s 1s forwards ;
}

@keyframes anim-title {
  0%{
    transform: translate3d(-50%, 50%, 0);
    opacity: 0;
  }
  100%{
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}*/

 
 .story h2 {
   background-image: url('../../../foce/assets/images/purple_title_bg.png');
   animation: fadeUp_purple_background 1s;
 }

 
 /*
 .title-animation {
  display: inline-block;
  opacity: 0; /* Assurez-vous que les éléments sont initialement invisibles 
}

.title-animation:nth-child(1) {
  animation: fade-In-From-Bottom 1s ease-in-out forwards;
}

.title-animation:nth-child(2) {
  animation: fade-In-From-Bottom 1.3s ease-in-out forwards;
  animation-delay: 0.4s; /* Décalage pour le deuxième élément "histoire" 
}
*/
h2 {
  overflow: hidden;
}
h2 span {
  transform: translateY(100%);
}

.title-animation{
  /*animation: title-animation 1s ease-in-out forwards ;*/
}

@keyframes title-animation {
  100%{
    transform: translateY(0%);
  }
}

 .story__article {
  p {
    position: relative; 
    animation: p-sections-fade-in 1.5s 0.5s forwards;
  }
 }

 @keyframes fadeUp_purple_background { /*ANIMATION BACKGROUND VIOLET*/
  from{
      background-position : 0 300px;
  opacity: 0;
  }
  to{
      background-position: 0 0;
  opacity: 1;
  }
}

/****KEYFRAMES PARAGRAPHES ***/
 
@keyframes p-sections-fade-in {
  0% {
    opacity : 0;
    transform : translateY(-150px)
  }
  50%{
    opacity:1; 
  }
  100%{
    transform: translate(0px); 
  }
 }
 
 
 /*** ROTATION FLEURS ***/
 
 .story h2::after,
 .story__article::after,
 #studio h2::after,
 #studio h2::before,
 .site-footer::before,
 .site-footer::after,
 .site-footer ul::after  {
   animation: rotationFleurs var(--speed) linear infinite;
 }
/*
 .story h2::after
 .story__article::after
*/
 #studio h2::after {
  width: 109px;
  height: 109px;
 }
/*
 #studio h2::before
 .site-footer::before
 .site-footer::after
 .site-footer ul::after
*/
/**KEYFRAMES ROTATION FLEURS **/

 @keyframes rotationFleurs {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
 
 /*** SECTION STUDIO KOUKAKI ***/
 
 #story,
 #studio,
 footer {
    opacity:0; 
    animation: fade-In-From-Bottom 1.5s 0.5s forwards;
 }

 .studio_paragraphe {
    animation: p-sections-fade-in 1.5s 0.5s forwards;
 }

 /*** LE LIEU ***/
 
 .story #place {
  background-image: url('../images/place_background.png');
   background-repeat: no-repeat;
   animation: fadeUp_purple_background 2s;
 }
 
 #place h3 {
   background-image: url('../foce/assets/images/orange_place_bg.png');
   /*animation: fadeUp_purple_background 2s;*/
 }
 
 .place_background p {
  position: relative; 
  animation: p-sections-fade-in 1.5s 0.5s forwards;
 }


 /*** NUAGES ***/

 .big_cloud {
  position: absolute;
  top: 69%;
  display: block;
  left: calc(52% + 210px);
  filter: drop-shadow(0px 0px 20px #C0F7FF);
  transform: translateX(var(--cloudPositionX));
}

.little_cloud {
  position: absolute;
  top: 77%;
  right: calc(15% + 320px);
  filter: drop-shadow(0px 0px 20px #C0F7FF);
  transform: translateX(var(--cloudPositionX));
}

#place .big_cloud,
#place .little_cloud {
  position: absolute;
  -moz-filter: blur(12px);
  filter: blur(12px);
  z-index: 2;
}


/*** section nomination**/

.section-nomination {
  align-items: flex-start;

  display: flex;
  justify-content: center;
}


.nomination_text {
  background-image: url('../images/orange_oscar_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height:250px;
  padding: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #fff5e9;
  font-size: 40px;
  letter-spacing: -1px;
  margin-bottom: 8em;
  text-shadow: grey 1px 0 10px;
}

.nomination_img{
  max-width: 275px;
}


 /****FOOTER **/

 .site-footer {
  flex-direction: column;
  padding-top: 12em;
}

.site-footer::after {
  bottom: 42em;
}

.site-footer::before {
  top: 4em;
}


/*** SWIPER ***/

.swiper{
  margin: 0 auto;
  width: 750px;
}

.characters-swiper {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  h3 {
    align-self: flex-start;
    z-index: 2;
    background-image: url('../images/orange_characters_bg.png');
  }
}

.characters-swiper div{
  flex: 1; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/*
.swiper-slide {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.swiper-slide-image {
  width: 100%;
}
.swiper-pagination {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
*/